<p>I was a professional opera singer for 16 years. When I had 2 small children I wanted to be home more, and more available to them while continuing to work in an artistically fulfilling way. Maybe because my mother is an artist, and my father owned and ran a lumber mill and business, woodworking seemed a nice fit.</p>

<p>I am mostly self-taught as a woodworker outside of the indispensable help and guidance of a few who have indulged my questions and been nurturing and tough, as was needed. Just to name some of them, Frank Pollaro, Darryl Keil, and Peter Korn.</p>

<p>My inspiration usually begins with the client's inspiration. And the look of my work differs with each customer. It is truly custom. So, seen as a whole body of work there is a lot of variety. I ask myself 4 tough questions with each new commission. What does the client want, what do they need, what can I do technically, and what will be more interesting than they had ever hoped for?</p>

<p>And, each client certainly has different needs. The CD cabinet was made after seeing the clients' daughter in a tou-tou. Of course, they said to make something that would hold 300 CDs, also. The sculptural piece for Gibson Guitar was made based on a request to "build something that expresses what a Les Paul guitar means".</p>

<p>I also work on uncommissioned pieces. There, I find my first ideas are usually outside of woodworking; a sensual curve, or a sense of motion where I hadn't expected it. It then becomes my happy job to bend that feeling into a very concrete piece of furniture.</p>
