body {
  font-family: @body;
  margin: 0;
}

a {
  text-decoration: none;
  color: @dark-highlight;
}

.fa {
  font-size: 18px;
}

p {
  font-family: @body;
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;
}

.element-container {
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  max-width: 800px;
  margin: auto;
  .element {
    .flex(0 0 31%);
    @media @mobile {
      .flex(0 0 100%);
    }
    margin: 20px 1%;
    img {
      max-width: 100%;
    }
    &.wide {
      .flex(0 0 48%);
      @media @mobile {
        .flex(0 0 100%);
      }
    }
    &.narrow {
      .flex(0 0 23%);
      @media @mobile {
        .flex(0 0 100%);
      }
    }
    &.pair {
      .flex(0 0 48%);
      background: darken(@light-gray,5%);
      @media @mobile {
        .flex(0 0 100%);
      }
    }
  }
  padding-bottom: 50px;
}

.section {
  padding-top: 40px;
}

.statement {
  padding-top: 30px;
}

.section-hed {
  text-align: center;
  color: @dark-highlight;
  max-width: 900px;
  margin: auto;
  border-bottom: 2px solid @dark-highlight;
  padding-top: 10px;
  margin: auto;
  font-family: @headline;
  font-size: 20px;
  font-weight: 700;
  @media @tablet-horiz {
    width: 80%;
  }
}

.noscroll {
  overflow: hidden;
}

.overlay-image-container {
  background: rgba(178, 178, 178, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1999;
  display: none;
  &.active {
    display: block;
  }
  overflow-y: scroll;
}

.close-button {
  float: right;
  font-size: 20px;
  padding: 20px;
}

img {
  cursor: pointer;
}

#inner-overlay-image {
  text-align: center;
}

#overlay-image {
  display: none;
  position: absolute;
  background: white;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  max-width: 90%;
  overflow-y: scroll;
  padding: 20px;
  img {
    max-width: 100%;
  }
  &.active {
    display: block;
  }
  margin-bottom: 100px;
}

.caption {
  font-size: 14px;
  padding-top: 5px;
}

.top-images {
  .display-flex;
  .flex-wrap(wrap);
  .align-items(normal);
  max-width: 600px;
  margin: auto;
  .left-img {
    .flex(0 0 44.5%);
    margin: 0 0.5%;
  }
  .right-img {
    .flex(0 0 53%);
    margin: 0 0.5%;
  }
  img {
    width: 100%;
  }
}

.title-container {
  text-align: center;
  padding: 30px 0;
  .title {
    font-family: @headline;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .intro {
    font-family: @body;
    font-size: 16px;
    padding-bottom: 10px;
    max-width: 600px;
    margin: auto;
  }
  .contact-me {
    .icon, .icon-text {
      display: inline-block;
    }
    .icon {
      padding: 0 5px;
    }
  }
}

.nav-container {
  font-family: @headline;
  font-size: 20px;
  font-weight: 700;
  color: @dark-highlight;
  text-align: center;
  padding: 10px 0;
  background: @light-gray;
  .link {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
  }
}

.footer-hed, .icon {
  padding-right: 10px;
  display: inline-block;
}

.footer-container {
  max-width: 730px;
  margin: auto;
  padding: 50px 15px 100px;
}

.fixed {
  position: fixed;
  -webkit-box-shadow: 0 0 6px 0 @dark-gray;
  -moz-box-shadow: 0 0 6px 0 @dark-gray;
  box-shadow: 0 0 6px 0 @dark-gray;
  top: 0 !important;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  border-top: 0 !important;
}

#stick-ph {
  display: none;
  height: 53px;
  @media @mobile {
    height: 119px;
  }
  @media @phone-horiz {
    height: 86px;
  }
}
